## Directories.
export STORE_HOME=${STORE_HOME:-"{{ store_home if store_home is not none else '${HOME}' }}"}
export PROJECT_HOME=${PROJECT_HOME:-${STORE_HOME}/projects}

export CACHE_HOME=${STORE_HOME}/.cache
export XDG_CACHE_HOME=${XDG_CACHE_HOME:-${CACHE_HOME}}
export ENROOT_CACHE_PATH=${CACHE_HOME}/enroot

export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-"${HOME}/.config"}

export ENROOT_DATA_PATH=${STORE_HOME}/.enroot

export IPYTHONDIR=${XDG_CONFIG_HOME}/ipython

export HF_HOME=${HF_HOME:-"${STORE_HOME}/huggingface"}

export WANDB_DIR=${CACHE_HOME}/wandb
if [[ ! -d  "${WANDB_DIR}" ]]; then
    mkdir -p "${WANDB_DIR}"
fi

export PATH="$(dirname ${__src_dir})/bin":"${PATH}"

## Config Vars.

{% if term is not none %}
export TERM={{ term }}
{% endif %}
export GPG_TTY=$(tty)

export INVENTORY_HOSTNAME={{ inventory_hostname | d('unknown') }}

export GIT_CONFIG_PARAMETERS="'user.name={{ git_name }}' 'user.email={{ git_email }}'"

export DISABLE_OPENCOLLECTIVE=1
export ADBLOCK=1
export NPM_CONFIG_AUDIT=false

export OMP_NUM_THREADS=${OMP_NUM_THREADS:-4}
export XLA_PYTHON_CLIENT_PREALLOCATE=false
export TF_CPP_MIN_LOG_LEVEL=${TF_CPP_MIN_LOG_LEVEL:-3}
export VLLM_WORKER_MULTIPROC_METHOD=${VLLM_WORKER_MULTIPROC_METHOD:-spawn}

export WANDB_DISABLE_CODE=true

## Secret Vars.

{% if goatcounter_site is not none %}
export GOATCOUNTER_SITE={{ goatcounter_site }}
{% endif %}

{% if mapbox_access_token is not none %}
export PUBLIC_MAPBOX_ACCESS_TOKEN={{ mapbox_access_token }}
{% endif %}

{% if cloudflare_api_key is not none %}
export CLOUDFLARE_API_KEY={{ cloudflare_api_key }}
{% endif %}

{% if wandb_api_key is not none %}
export WANDB_API_KEY=${WANDB_API_KEY:-"{{ wandb_api_key }}"}
export WANDB_USERNAME=${WANDB_USERNAME:-"{{ wandb_username | d() }}"}
export WANDB_ENTITY=${WANDB_ENTITY:-"{{ wandb_entity | d() }}"}
{% endif %}

{% if hf_token is not none %}
export HF_TOKEN=${HF_TOKEN:-"{{ hf_token }}"}
{% endif %}

{% if openai_api_key is not none %}
export OPENAI_API_KEY=${OPENAI_API_KEY:-"{{ openai_api_key }}"}
{% endif %}

{% if nvidia_api_key is not none %}
export NVIDIA_API_KEY=${NVIDIA_API_KEY:-"{{ nvidia_api_key }}"}
{% endif %}

{% if google_gemini_api_key is not none %}
export GOOGLE_API_KEY=${GOOGLE_API_KEY:-"{{ google_gemini_api_key }}"}  ## Gemini.
{% endif %}

{% if exa_api_key is not none %}
export EXA_API_KEY=${EXA_API_KEY:-"{{ exa_api_key }}"}
{% endif %}

{% if discord_webhook_token is not none %}
export DISCORD_WEBHOOK_TOKEN=${DISCORD_WEBHOOK_TOKEN:-"{{ discord_webhook_token }}"}
{% endif %}

{% if docker_username is not none %}
export DOCKER_USERNAME=${DOCKER_USERNAME:-"{{ docker_username }}"}
{% endif %}

{% if hcloud_token is not none %}
export HCLOUD_TOKEN={{ hcloud_token }}
{% endif %}

{% if gitlab_token is not none %}
export GITLAB_TOKEN=${GITLAB_TOKEN:-"{{ gitlab_token }}"}
{% endif %}
