## Directories.
export STORE_HOME=${STORE_HOME:-"${HOME}/store"}
export PROJECT_HOME=${STORE_HOME}/projects

export CACHE_HOME=${STORE_HOME}/.cache
export XDG_CACHE_HOME=${CACHE_HOME}

export XDG_CONFIG_HOME=${HOME}/.config

export IPYTHONDIR=${XDG_CONFIG_HOME}/ipython

export HF_HOME=${STORE_HOME}/huggingface

export WANDB_DIR=${CACHE_HOME}/wandb
if [[ ! -d  "${WANDB_DIR}" ]]; then
    mkdir -p "${WANDB_DIR}"
fi

export PATH="$(dirname ${__src_dir})/bin":"${PATH}"

## Config Vars.

if [[ -z "${HEADLESS}" ]]; then
    {% if term is not none %}
    export TERM={{ term }}
    {% endif %}
    export GPG_TTY=$(tty)
fi

export INVENTORY_HOSTNAME={{ inventory_hostname | d('unknown') }}

export GIT_CONFIG_PARAMETERS="'user.name={{ git_name }}' 'user.email={{ git_email }}'"

export DISABLE_OPENCOLLECTIVE=1
export ADBLOCK=1
export NPM_CONFIG_AUDIT=false

export XLA_PYTHON_CLIENT_PREALLOCATE=false
export TF_CPP_MIN_LOG_LEVEL=${TF_CPP_MIN_LOG_LEVEL:-3}

export WANDB_DISABLE_CODE=true
