STORE_HOME=/store

XDG_CONFIG_HOME=${STORE_HOME}/.cache/enroot/.runtime_config

IPYTHONDIR=${XDG_CONFIG_HOME}/ipython

XDG_CACHE_HOME=${STORE_HOME}/.cache

HF_HOME=${XDG_CACHE_HOME}/huggingface
DG_JIT_CACHE_DIR=${XDG_CACHE_HOME}/deep_gemm

{% for k, v in extra_env.items() %}
{{ k }}={{ v }}
{% endfor %}
