export APPTAINER_CACHEDIR=${XDG_CACHE_HOME}
export SINGULARITY_CACHEDIR=${XDG_CACHE_HOME}

export SLURM_LOGDIR="${STORE_HOME}/.slurm/logs"
export SBATCH_ERROR="${SLURM_LOGDIR}/%j.err"
export SBATCH_OUTPUT="${SLURM_LOGDIR}/%j.out"

{% if sbatch_account is not none %}
export SBATCH_ACCOUNT={{ sbatch_account }}
{% endif %}

{% if sbatch_partition is not none %}
export SBATCH_PARTITION={{ sbatch_partition }}
{% endif %}

{% if sbatch_overcommit is not none %}
export SBATCH_OVERCOMMIT=1
{% endif %}

# export SBATCH_EXCLUSIVE=1
# export SBATCH_EXCLUDE_LIST=
