#!/usr/bin/env bash

function snemo-patch-job_name {
    if [[ -z "${1}" ]]; then
        return 0  ## Return 0 exit-code to avoid cascading errors.
    fi

    __sbatch_file="${1}"
    __sbatch_job_arg=$(cat "${__sbatch_file}" | grep -m1 "#SBATCH --job-name=")
    
    if [[ ! -z "${__sbatch_job_arg}" ]]; then
        __folder_name="$(basename "$(dirname "${__sbatch_file}")")"

        sed -i "s|^${__sbatch_job_arg}\$|#SBATCH --job-name=${__folder_name}|" "${__sbatch_file}"
    fi
}

## Assumes arguments to be `--requeue --parsable <bash.sh>`.
__args="${@}"
__sbatch_file="$(echo "${__args}" | rev | cut -d' ' -f1 | rev)"

if [[ -f "${__sbatch_file}" ]]; then
    snemo-patch-job_name "${__sbatch_file}"
fi

{{ sbatch_bin }} "${@}"
