{% if extended is defined and extended %}
Host github.com gitlab-master.nvidia.com
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/config.d/nvda/id_ed25519

Host desk *.aim
    HostName aiapps-070225.dyn.nvidia.com

Match originalhost="*.aim"
    RequestTTY yes
    ExitOnForwardFailure yes
    LocalForward 43800 localhost:43800
    ## Kill any processes on the port before launching aim UI.
    RemoteCommand for pid in $(lsof -ti :43800); do kill -9 $pid; done; source ~/.bash_profile; cd ${HOME}/code/$(echo %n | cut -d. -f1); uv run --no-sync aim up -y -p 43800

Host bigdesk
    HostName 10.110.40.240
{% endif %}

{% for host, attrs in slurm_hosts.items() +%}
Host {{ host }}
    HostName {{ attrs["hostname"] }}
    Port {{ attrs["port"] }}
{% endfor %}

{% if extended is defined and extended %}
Match host="*.nvidia.com",originalhost="*desk"
    IdentityFile ~/.ssh/config.d/nvda/id_ed25519
    ForwardAgent yes
    AddKeysToAgent yes
{% endif %}
