Host github.com gitlab-master.nvidia.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/config.d/nvda/id_ed25519

Host desk
  HostName aiapps-070225.dyn.nvidia.com

Host bigdesk
  HostName 10.110.40.240

{% for host, attrs in slurm_hosts.items() %}

{% for i in range(attrs["num_login_nodes"]) %}
Host {{ host }}{{ i + 1 }}
  HostName {{ attrs["ssh_hostname_format"] | format("login", i + 1) }}
{% endfor %}

{% for i in range(attrs["num_dc_nodes"]) %}
Host d{{ host }}{{ i + 1 }}
  HostName {{ attrs["ssh_hostname_format"] | format("dc", i + 1) }}
{% endfor %}

{% endfor %}

Match host="*.nvidia.com" originalhost="*desk"
  IdentityFile ~/.ssh/config.d/nvda/id_ed25519
  ForwardAgent yes
  AddKeysToAgent yes
