{% for host, attrs in hosts.items() +%}
[{{ host }}]
type = sftp
host = {{ attrs["hostname"] }}
key_use_agent = true
shell_type = unix

[{{ host }}-store]
type = alias
remote = {{ host }}:{{ attrs["store_home"] }}
{% endfor %}