[nyu]
type = drive
client_id = {{ rclone_nyu_drive_client_id }}
client_secret = {{ rclone_nyu_drive_client_secret }}
scope = drive
token = {"access_token":"{{ rclone_nyu_drive_access_token }}","token_type":"Bearer","refresh_token":"{{ rclone_nyu_drive_refresh_token }}","expiry":"{{ rclone_nyu_drive_expiry }}"}

[ct]
type = alias
remote = nyu:Research/calibration-tuning

[pac]
type = alias
remote = nyu:Research/pac-bayes-llm
