machine auth.docker.io login {{ dockerhub_username }} password $DOCKERHUB_PASSWORD

machine nvcr.io login $oauthtoken password $NGC_API_KEY
machine authn.nvidia.com login $oauthtoken password $NGC_API_KEY

machine gitlab-master.nvidia.com login $USER password $GITLAB_TOKEN
