{% if extended is defined and extended %}
Host github.com gitlab-master.nvidia.com hf.co
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/config.d/nvda/id_ed25519

Match originalhost="*.aim"
    LocalForward 43800 localhost:43800
    ## Kill any processes on the port before launch.
    RemoteCommand for pid in $(lsof -ti :43800); do kill -9 $pid; done; source ~/.bash_profile; cd ${HOME}/code/$(echo %n | cut -d. -f1); mise aim up -p 43800

Match originalhost="*.lab"
    LocalForward 8888 localhost:8888
    ## Kill any processes on the port before launch.
    RemoteCommand for pid in $(lsof -ti :8888); do kill -9 $pid; done; source ~/.bash_profile; cd ${HOME}/code/$(echo %n | cut -d. -f1); uv run --no-sync jupyter lab -y --no-browser --port 8888

Host *.aim *.lab
    HostName {{ hosts.desk.hostname }}
    Port {{ hosts.desk.port }}
    RequestTTY yes
    ExitOnForwardFailure yes
{% endif %}

{% for host, attrs in hosts.items() +%}
Host {{ host }}
    HostName {{ attrs.hostname }}
    Port {{ attrs.port }}
{% endfor %}

{% if extended is defined and extended %}
Match host="*.nvidia.com"
    IdentityFile ~/.ssh/config.d/nvda/id_ed25519
    ForwardAgent yes
    AddKeysToAgent yes
{% endif %}
