## Config Vars.

if [[ -z "${HEADLESS}" ]]; then
    {% if term is not none %}
    export TERM={{ term }}
    {% endif %}
    export GPG_TTY=$(tty)
fi

if [[ -d "$(dirname ${__src_dir})/bin" ]]; then
    export PATH="$(dirname ${__src_dir})/bin":"${PATH}"
fi

export INVENTORY_HOSTNAME={{ inventory_hostname | d('unknown') }}

export DISABLE_OPENCOLLECTIVE=1
export ADBLOCK=1
export NPM_CONFIG_AUDIT=false

export WANDB_DISABLE_CODE=true

## Directories.
export STORE_HOME=${STORE_HOME:-"${HOME}/store"}

export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-"${HOME}/.config"}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-"${HOME}/.cache"}"

export STARSHIP_CACHE="${XDG_CACHE_HOME}/starship"

export IPYTHONDIR="${IPYTHONDIR:-"${XDG_CONFIG_HOME}/ipython"}"

export APPTAINER_CACHEDIR="${XDG_CACHE_HOME}/apptainer"
export APPTAINER_TMPDIR="${XDG_CACHE_HOME}/apptainer/tmp"
export SINGULARITY_CACHEDIR="${APPTAINER_CACHEDIR}"
export SINGULARITY_TMPDIR="${APPTAINER_TMPDIR}"

export DEEP_GEMM_CACHE_DIR="${DEEP_GEMM_CACHE_DIR:-"${XDG_CACHE_HOME}/deep_gemm"}"
export DG_JIT_CACHE_DIR="${DEEP_GEMM_CACHE_DIR}"

export PYTORCH_KERNEL_CACHE_PATH="${PYTORCH_KERNEL_CACHE_PATH:-"${XDG_CACHE_HOME}/torch"}"
export TORCHINDUCTOR_CACHE_DIR="${TORCHINDUCTOR_CACHE_DIR:-"${XDG_CACHE_HOME}/torchinductor"}"
export TRITON_HOME="${TRITON_CACHE_DIR}"

export HF_HOME="${HF_HOME:-"${XDG_CACHE_HOME}/huggingface"}"

export WANDB_DIR="${WANDB_DIR:-"${XDG_CACHE_HOME}/wandb"}"
