## ML-Related Secrets

{% if dagshub_user_token is defined and dagshub_user_token %}
{{ "export " if use_export else "" }}DAGSHUB_USER_TOKEN={{ dagshub_user_token }}
{% endif %}

{% if hf_token is defined and hf_token %}
{{ "export " if use_export else "" }}HF_TOKEN={{ hf_token }}
{% endif %}

{% if ngc_api_key is defined and ngc_api_key %}
{{ "export " if use_export else "" }}NGC_API_KEY={{ ngc_api_key }}
{% endif %}

{% if nvinf_api_key is defined and nvinf_api_key %}
{{ "export " if use_export else "" }}NVINF_API_KEY={{ nvinf_api_key }}
{% endif %}

{% if openai_api_key is defined and openai_api_key %}
{{ "export " if use_export else "" }}OPENAI_API_KEY={{ openai_api_key }}
{% endif %}

{% if wandb_api_key is defined and wandb_api_key %}
{{ "export " if use_export else "" }}WANDB_API_KEY={{ wandb_api_key }}
{{ "export " if use_export else "" }}WANDB_USERNAME={{ wandb_username | d() }}
{{ "export " if use_export else "" }}WANDB_ENTITY={{ wandb_entity | d() }}
{% endif %}
