## Secret Vars.

{% if cloudflare_api_key is defined and cloudflare_api_key %}
{{ "export " if use_export else "" }}CLOUDFLARE_API_KEY={{ cloudflare_api_key }}
{% endif %}

{% if discord_webhook_token is defined and discord_webhook_token %}
{{ "export " if use_export else "" }}DISCORD_WEBHOOK_TOKEN={{ discord_webhook_token }}
{% endif %}

{% if docker_hub_username is defined and docker_hub_username %}
{{ "export " if use_export else "" }}DOCKER_HUB_USERNAME={{ docker_hub_username }}
{{ "export " if use_export else "" }}DOCKER_HUB_PASSWORD={{ docker_hub_password }}
{% endif %}

{% if goatcounter_site is defined and goatcounter_site %}
{{ "export " if use_export else "" }}GOATCOUNTER_SITE={{ goatcounter_site }}
{% endif %}

{% if gitlab_token is defined and gitlab_token %}
{{ "export " if use_export else "" }}GITLAB_TOKEN={{ gitlab_token }}
{% endif %}

{% if hcloud_token is defined and hcloud_token %}
{{ "export " if use_export else "" }}HCLOUD_TOKEN={{ hcloud_token }}
{% endif %}

{% if mapbox_access_token is defined and mapbox_access_token %}
{{ "export " if use_export else "" }}PUBLIC_MAPBOX_ACCESS_TOKEN={{ mapbox_access_token }}
{% endif %}
