{% include "tasks/rclone/templates/rclone.conf.j2" %}

{% for host, attrs in hosts.items() %}
[{{ host }}]
type = sftp
host = {{ attrs.hostname }}
port = {{ attrs.port }}
key_use_agent = true
shell_type = unix

{% if attrs.aliases %}
{% for alias in attrs.aliases %}
[{{ alias }}]
type = alias
remote = {{ host }}:

{% endfor %}
{% endif %}
{% endfor %}
{% if s8k_secret_access_key is defined %}
[s8k]
type = s3
provider = AWS
endpoint = https://pdx.s8k.io
region = us-east-1
env_auth = false
access_key_id = {{ s8k_access_key_id }}
secret_access_key = {{ s8k_secret_access_key }}
{% endif %}
