{% if dagshub_user_token is defined %}
[dagshub]
type = s3
provider = Other
endpoint = https://dagshub.com/api/v1/repo-buckets/s3/{{ dagshub_username }}
region = us-east-1
acl = private
env_auth = false
access_key_id = {{ dagshub_user_token }}
secret_access_key = {{ dagshub_user_token }}

[aim]
type = alias
remote = dagshub:aim
{% endif %}
