function __make_slurm_args {
    {% set gpu_part = sbatch_partitions.gpu %}
    {% set igpu_part = sbatch_partitions.gpu_interactive %}
    {% set cpu_part = sbatch_partitions.cpu if sbatch_partitions.cpu is defined else gpu_part %}
    {% set icpu_part = sbatch_partitions.cpu_interactive if sbatch_partitions.cpu_interactive is defined else cpu_part %}
    local -A partition_map=(
        ["gpu"]="-p {{ gpu_part.partition }}{% if gpu_part.qos is defined %} -q {{ gpu_part.qos }}{% endif %}"
        ["igpu"]="-p {{ igpu_part.partition }}{% if igpu_part.qos is defined %} -q {{ igpu_part.qos }}{% endif %}"
        ["cpu"]="-p {{ cpu_part.partition }}{% if cpu_part.qos is defined %} -q {{ cpu_part.qos }}{% endif %}"
        ["icpu"]="-p {{ icpu_part.partition }}{% if icpu_part.qos is defined %} -q {{ icpu_part.qos }}{% endif %}"
    )
    local kind=cpu interactive=0
    local job_name={{ sbatch_account }}.$(basename $(pwd)) account={{ sbatch_account }} time=4:00:00 gpus_per_node pass_args=()
    local -n slurm_args=$1
    shift

    while [[ $# -gt 0 ]]; do
        case "${1}" in
            --job-name|-J) job_name="${2}"; shift 2 ;;
            --account|-A) account="${2}"; shift 2 ;;
            --time|-t) time="${2}"; shift 2 ;;
            --gpus-per-node)
                kind=gpu
                {% if gpu_part.overrides is defined %}
                {% if gpu_part.overrides.gpus_per_node is defined and gpu_part.overrides.gpus_per_node > 0 %}
                gpus_per_node="{{ gpu_part.overrides.gpus_per_node }}"
                {% endif %}
                {% else %}
                gpus_per_node="${2}"
                {% endif %}
                shift 2
            ;;
            --interactive) interactive=1; shift ;;
            *) pass_args+=("${1}"); shift ;;
      esac
    done

    local partition_args=()
    read -ra partition_args <<< "${partition_map["$([[ $interactive -eq 1 ]] && echo "i" || echo "")${kind}"]}"

    slurm_args+=(
        -J "${job_name}"
        -A "${account}"
        "${partition_args[@]}"
        -t "${time}"
    )
    if [[ -n "${gpus_per_node}" ]]; then
        slurm_args+=(--gpus-per-node "${gpus_per_node}")
    fi
    slurm_args+=("${pass_args[@]}")
}

function autosbatch {
    local sbatch_args=()

    __make_slurm_args sbatch_args --signal B:USR1@10 "${@}"

    echo "sbatch "${sbatch_args[*]}""
    sbatch "${sbatch_args[@]}"
}

function autosrun {
    local srun_args=()

    __make_slurm_args srun_args --interactive --pty --no-container-mount-home -t 2:00:00 "${@}"

    echo "srun "${srun_args[*]}""
    srun "${srun_args[@]}"
}
