#!/usr/bin/env bash

function patch_nemo_run {
    if [[ -z "${1}" ]]; then
        return 0  ## Return 0 exit-code to avoid cascading errors.
    fi
    __sbatch_file="${1}"

    ## NeMo-Run always has #SBATCH job name directive, replace it with experiment ID (folder name).
    __sbatch_job_arg=$(cat "${__sbatch_file}" | grep -m1 "#SBATCH --job-name=")
    if [[ -n "${__sbatch_job_arg}" ]]; then
        __folder_name="$(basename "$(dirname "${__sbatch_file}")")"

        sed -i "s|^${__sbatch_job_arg}\$|#SBATCH --job-name=${__folder_name}|" "${__sbatch_file}"
    fi
}

function patch_submission {
    if [[ -z "${1}" ]]; then
        return 0  ## Return 0 exit-code to avoid cascading errors.
    fi
    __sbatch_file="${1}"

    __install="source ~/.bash_profile; sbatch_install_traps"

    if ! grep -q "${__install}" "${__sbatch_file}"; then
        ## If #SBATCH directives are absent, insert after first line.
        if grep -q "#SBATCH" "${__sbatch_file}"; then
            sed -i "/#SBATCH/!b; :a; n; /#SBATCH/ba; i ${__install}" "${__sbatch_file}"
        else
            sed -i "1a ${__install}" "${__sbatch_file}"
        fi
    fi
}

for arg in "${@}"; do
    if [[ ! "${arg}" == -* ]]; then
        ## Handle direct script execution, or via an executable.
        if test -f "${arg}"; then
            __sbatch_file="${arg}"
        elif command -v "${arg}" &> /dev/null; then
            __sbatch_file="$(command -v "${arg}")"
        fi

        if (test -n "${__sbatch_file}") && (file -bi "${__sbatch_file}" | grep -q "text/x-shellscript"); then
            break
        else
            unset __sbatch_file
        fi
    fi
done

if [[ -n "${__sbatch_file}" ]]; then
    if grep -q "Generated by NeMo Run" "${__sbatch_file}"; then
        patch_nemo_run "${__sbatch_file}"
    fi

    patch_submission "${__sbatch_file}"
fi

{{ sbatch_bin }} --signal=B:USR1@15 "${@}"
