## Config.
WANDB_DISABLE_CODE=${WANDB_DISABLE_CODE}

## Directories.
STORE_HOME=/store

XDG_CONFIG_HOME=/var/config
XDG_CACHE_HOME=/var/cache

IPYTHONDIR=/store/.config/ipython

APPTAINER_CACHEDIR=/store/.cache/apptainer
APPTAINER_TMPDIR=/store/.cache/apptainer/tmp
SINGULARITY_CACHEDIR=/store/.cache/apptainer
SINGULARITY_TMPDIR=/store/.cache/apptainer/tmp

DEEP_GEMM_CACHE_DIR=/var/cache/deep_gemm
DG_JIT_CACHE_DIR=/var/cache/deep_gemm

PYTORCH_KERNEL_CACHE_PATH=/var/cache/torch
TORCHINDUCTOR_CACHE_DIR=/var/cache/torchinductor
TRITON_HOME=/var/cache/triton

HF_HOME=/store/.cache/huggingface

WANDB_DIR=/store/.cache/wandb

{% for k, v in extra_env.items() %}
{{ k }}={{ v }}
{% endfor %}
