STORE_HOME=/store

XDG_CONFIG_HOME=${STORE_HOME}/.cache/enroot/.runtime_config

IPYTHONDIR=${XDG_CONFIG_HOME}/ipython

XDG_CACHE_HOME=${STORE_HOME}/.cache

DEEP_GEMM_CACHE_DIR=${XDG_CACHE_HOME}/deep_gemm
DG_JIT_CACHE_DIR=${DEEP_GEMM_CACHE_DIR}
HF_HOME=${XDG_CACHE_HOME}/huggingface
WANDB_DIR=${XDG_CACHE_HOME}/wandb

{% for k, v in extra_env.items() %}
{{ k }}={{ v }}
{% endfor %}
