STORE_HOME=/store

XDG_CONFIG_HOME=/store/.config
XDG_CACHE_HOME=/store/.cache

IPYTHONDIR=/store/.config/ipython

DEEP_GEMM_CACHE_DIR=/var/cache/deep_gemm
DG_JIT_CACHE_DIR=/var/cache/deep_gemm
HF_HOME=/store/.cache/huggingface
PYTORCH_KERNEL_CACHE_PATH=/var/cache/torch
TORCHINDUCTOR_CACHE_DIR=/var/cache/torchinductor
TRITON_HOME=/var/cache/triton

WANDB_DIR=/store/.cache/wandb

XLA_PYTHON_CLIENT_PREALLOCATE=${XLA_PYTHON_CLIENT_PREALLOCATE}
TF_CPP_MIN_LOG_LEVEL=${TF_CPP_MIN_LOG_LEVEL}

WANDB_DISABLE_CODE=${WANDB_DISABLE_CODE}

{% for k, v in extra_env.items() %}
{{ k }}={{ v }}
{% endfor %}
