containers:
  sandbox: gitlab-master.nvidia.com/igitman/nemo-skills-configs/sandbox:latest
  sglang: lmsysorg/sglang:v0.5.4
  nemo-skills: gitlab-master.nvidia.com/igitman/nemo-skills-configs/nemo-skills:latest
  nemo-rl: gitlab-master.nvidia.com/igitman/nemo-skills-configs/nemo-rl:latest
  vllm: vllm/vllm-openai:v0.13.0

executor: local

mounts:
  - /home/{{ ssh_user }}/store:/store

env_vars:
  - HF_HOME=/store/huggingface
  - CUDA_VISIBLE_DEVICES
