containers:
  trtllm: igitman/nemo-skills-trtllm:0.7.0
  vllm: igitman/nemo-skills-vllm:0.7.0
  sglang: igitman/nemo-skills-sglang:0.7.0
  nemo: igitman/nemo-skills-nemo:0.7.0
  megatron: igitman/nemo-skills-megatron:0.7.0
  sandbox: igitman/nemo-skills-sandbox:0.7.1
  nemo-skills: igitman/nemo-skills:0.7.0
  verl: igitman/nemo-skills-verl:0.7.0
  nemo-rl: igitman/nemo-skills-nemo-rl:0.7.0

executor: local

mounts:
  - {{ store_home }}:/store

env_vars:
  - HF_HOME=/store/huggingface
  - CUDA_VISIBLE_DEVICES
