ssh_tunnel:
  host: {{ ssh_tunnel_host }}
  user: ${USER}
  job_dir: ${HOME}/.nemo_run
  pre_command: source ~/.bash_profile

executor: slurm

disable_gpus_per_node: {{ disable_gpus_per_node }}

account: {{ sbatch_account }}
mail_type: FAIL
partition: {{ sbatch_partition }}
cpu_partition: cpu
timeouts:
  {{ sbatch_partition }}: 04:00:00
  interactive: 04:00:00
  interactive_singlenode: 04:00:00
  cpu: 04:00:00

containers:
  vllm: {{ store_home }}/images/nemo-skills-stem-vllm-rev20250924.sqsh
  sglang: {{ store_home }}/images/nemo-skills-sglang-0.7.0.sqsh
  sandbox: {{ store_home }}/images/nemo-skills-sandbox-0.7.1.sqsh
  nemo-skills: {{ store_home }}/images/nemo-skills-0.7.0.sqsh
  search: {{ store_home }}/images/tool-integrated-reasoning-search-rev20250923.sqsh

mounts:
  - {{ store_home }}:/store

env_vars:
  - HF_HOME=/store/huggingface
