ssh_tunnel:
  host: {{ ssh_tunnel_host }}
  user: ${USER}
  job_dir: ${HOME}/.nemo_run
  pre_command: HEADLESS=1 source ~/.bash_profile

executor: slurm
{% if disable_gpus_per_node is defined and disable_gpus_per_node %}
disable_gpus_per_node: {{ disable_gpus_per_node }}
{% endif %}
account: {{ sbatch_account }}
mail_type: FAIL
partition: {{ sbatch_partition }}
{% if disable_cpu_partition is not defined or not disable_cpu_partition %}
cpu_partition: cpu
{% endif %}
timeouts:
  {{ sbatch_partition }}: 04:00:00
  interactive: 04:00:00
  interactive_singlenode: 04:00:00
  cpu: 04:00:00

containers:
  vllm: /home/{{ ssh_user }}/store/images/vllm-openai-v0.10.2.sqsh
  sglang: /home/{{ ssh_user }}/store/images/sglang-v0.5.3.post1.sqsh
  sandbox: /home/{{ ssh_user }}/store/images/nemo-skills/nemo-skills-sandbox-0.7.1.sqsh
  nemo-skills: /home/{{ ssh_user }}/store/images/nemo-skills/nemo-skills-0.7.1.sqsh
  search: /home/{{ ssh_user }}/store/images/tool-integrated-reasoning-search-rev20250923.sqsh

mounts:
  - /home/{{ ssh_user }}/store:/store

env_vars:
  - HF_HOME=/store/huggingface
