containers:
  nemo-rl: gitlab-master.nvidia.com/igitman/nemo-skills-configs/nemo-rl:{{ ns_nemo_rl_version | d("latest")  }}
  nemo-skills: gitlab-master.nvidia.com/igitman/nemo-skills-configs/nemo-skills:{{ ns_version | d("latest")  }}
  sandbox: gitlab-master.nvidia.com/igitman/nemo-skills-configs/sandbox:{{ ns_sandbox_version | d("latest")  }}
  sglang: lmsysorg/sglang:{{ sglang_version | d("latest") }}
  vllm: vllm/vllm-openai:{{ vllm_version | d("latest") }}

executor: local

mounts:
  - /home/{{ ssh_user }}/store:/store

env_vars:
  - HF_HOME=/store/.cache/huggingface
  - CUDA_VISIBLE_DEVICES
