containers:
  nemo-rl: gitlab-master.nvidia.com/igitman/nemo-skills-configs/nemo-rl:latest
  nemo-skills: gitlab-master.nvidia.com/igitman/nemo-skills-configs/nemo-skills:latest
  sandbox: gitlab-master.nvidia.com/igitman/nemo-skills-configs/sandbox:latest
  sglang: lmsysorg/sglang:{{ sglang_version | d("v0.5.8") }}
  vllm: vllm/vllm-openai:{{ vllm_version | d("v0.15.0") }}

executor: local

mounts:
  - /home/{{ ssh_user }}/store:/store

env_vars:
  - HF_HOME=/store/.cache/huggingface
  - CUDA_VISIBLE_DEVICES
