ssh_tunnel:
  host: {{ ssh_tunnel_host }}
  port: {{ ssh_tunnel_port }}
  user: {{ ssh_user }}
  job_dir: /home/{{ ssh_user }}/store/.nemo_run
  pre_command: HEADLESS=1 source ~/.bash_profile

executor: slurm
account: {{ sbatch_account }}
mail_type: FAIL
partition: {{ sbatch_partitions.gpu.partition }}
cpu_partition: {{ sbatch_partitions.cpu.partition }}
timeouts:
  {{ sbatch_partitions.gpu.partition }}: 04:00:00
  {%  if sbatch_partitions.gpu_interactive.partition != sbatch_partitions.gpu.partition %}
  {{ sbatch_partitions.gpu_interactive.partition }}: 02:00:00
  {% endif %}
  {%  if sbatch_partitions.cpu.partition != sbatch_partitions.gpu.partition %}
  {{ sbatch_partitions.cpu.partition }}: 04:00:00
  {% endif %}
  {%  if sbatch_partitions.cpu_interactive.partition not in [sbatch_partitions.cpu.partition, sbatch_partitions.gpu_interactive.partition] %}
  {{ sbatch_partitions.cpu_interactive.partition }}: 02:00:00
  {% endif %}

{% if "gpus_per_node" in sbatch_params and sbatch_params.gpus_per_node == -1 %}
disable_gpus_per_node: True
{% endif %}

containers:
  nemo-rl: /home/{{ ssh_user }}/store/images/nemo-rl-{{ nemo_rl_version | d("latest") }}.sqsh
  nemo-skills: /home/{{ ssh_user }}/store/images/nemo-skills/nemo-skills-{{ ns_version | d("latest")  }}.sqsh
  sandbox: /home/{{ ssh_user }}/store/images/nemo-skills/nemo-skills-sandbox-{{ ns_sandbox_version | d("latest")  }}.sqsh
  sglang: /home/{{ ssh_user }}/store/images/sglang-{{ sglang_version | d("latest")  }}.sqsh
  vllm: /home/{{ ssh_user }}/store/images/vllm-openai-{{ vllm_version | d("latest")  }}.sqsh
  edison:
    hypotest: /home/{{ ssh_user }}/store/images/edison/bbh-server-latest.sqsh
    gym: /home/{{ ssh_user }}/store/images/edison/nemo-gym-latest.sqsh

mounts:
  - /home/{{ ssh_user }}/store:/store

env_vars:
  - XDG_CACHE_HOME=/store/.cache
  - HF_HOME=/store/.cache/huggingface
